<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737454767174-798gp1jlcikbhokul8gq9q1j3to6fr2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737454767174-798gp1jlcikbhokul8gq9q1j3to6fr2b</string>
	<key>API_KEY</key>
	<string>AIzaSyCeZ5XratQc0UbBUguCcZJylCOteOgtOgU</string>
	<key>GCM_SENDER_ID</key>
	<string>737454767174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cicod.merchant</string>
	<key>PROJECT_ID</key>
	<string>cicod-9213c</string>
	<key>STORAGE_BUCKET</key>
	<string>cicod-9213c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737454767174:ios:9c8151d848b1c275cede47</string>
</dict>
</plist>